.top-bar {
  background-color: #68d7f3;
  color: white;
  padding: 10px 0;
  text-align: center;
}
.nav-item {
  margin-left: 15px;
  color: white;
}
.nav-right {
  margin-left: auto;
  color: white;
}
.navbar {
  background-color: #808080;
  color: white;
}
.navbar .nav-item .nav-link {
  color: white;
  font-weight: bold;
}
.vertical-bar {
  background-color: #373b3f;
  padding: 10px;
  height: 100vh;
  color: white;
}
.content {
  padding: 10px;
}
.signup-btn {
  margin-right: 55px;
}
